package partials

templ Sidebar() {
	<div class="bg-zinc-700 w-[200px] border-r border-zinc-600">
		<ul class="space-y-4 p-2">
			<li><a class="hover:bg-zinc-600 rounded-md p-2 block items-center" href="/">Category 1</a></li>
		</ul>
	</div>
}
