package view

import "github.com/Cahllagerfeld/go-htmx-first-steps/pkg/layout"

templ Hello(name string) {
	@layout.Base() {
		<div>Hello, { name }</div>
		<button hx-post="/click" hx-swap="outerHTML">Click me</button>
	}
}

templ Clicked(name string) {
	<div class="bg-blue-700">Clicked!</div>
}
