package layout

import "github.com/Cahllagerfeld/go-htmx-first-steps/view/partials"

templ AuthenticatedLayout () {
	@Base() {
		<div class="flex min-h-screen flex-col mx-auto">
			@partials.Header()
			<div class="flex-1 flex">
				@partials.Sidebar()
				<main class="p-4 w-full">
					{ children... }
				</main>
			</div>
		</div>
	}
}
