package layout

templ Base() {
	<html>
		<head>
			<script src="/assets/htmx.js" defer></script>
			<link rel="stylesheet" href="/assets/tailwind.css"/>
		</head>
		<body class="bg-zinc-800 text-zinc-200">
			{ children... }
		</body>
	</html>
}
