package layout

templ Base() {
	<html>
		<head>
			<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
			<link rel="stylesheet" href="/assets/tailwind.css"/>
		</head>
		<body class="bg-zinc-800 text-zinc-200">
			{ children... }
		</body>
	</html>
}
