package view

import "github.com/Cahllagerfeld/go-htmx-first-steps/view/layout"

templ About() {
	@layout.Base() {
		<h1>About</h1>
		<p>This is the about page</p>
		<form hx-post="/about/submit" hx-swap="outerHTML">
			<input type="text" name="name" placeholder="Name"/>
			<input type="text" name="email" placeholder="Email"/>
			<button type="submit">Submit</button>
		</form>
	}
}

templ Success() {
	<p class="text-red-700">Success</p>
}
